.react-calendar {
  width: 320px;
  max-width: 100%;
  background: white;
  border: 1px solid #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.125em;
  font-size: 12px;
  border-radius: 10px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation__label {
  touch-action: none;
  pointer-events: none;
  font-weight: 500;
}
.react-calendar__navigation__arrow {
  font-size: 18px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
  color: gray;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  text-decoration: underline;
}
.react-calendar__tile--now:hover {
  color: black !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: black;
  border-radius: 50%;
  color: #fafafa;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: black !important;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile.react-calendar__tile--active:hover {
  background: black !important;
  color: white !important;
  border-radius: 50%;
}

.react-calendar__tile {
  width: 44px;
  height: 44px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar__tile:disabled {
  background-color: white;
  text-decoration: line-through;
}

.react-calendar__tile:disabled:hover {
  border: none;
  background-color: transparent;
  color: black;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar__tile:hover {
  border-radius: 50%;
  border: 1px solid gray;
  color: black !important;
  background-color: white !important;
}

.react-calendar__navigation__prev2-button:disabled {
  color: #ababab;
}
.react-calendar__navigation__prev-button:disabled {
  color: #ababab;
}

.custom_overlay {
  @apply bg-white rounded-full px-2 py-1 text-xs font-semibold border border-gray-300 shadow hover:shadow-lg hover:font-bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

.filter__scroll::-webkit-scrollbar {
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(235, 195, 202); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  padding: 15px 0px;
  box-shadow: 0px 1px 15px -5px #843838;
  width: 30px !important;
  height: 10px !important;
  border-radius: 9999px;
  color: black !important;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
  transition: opacity 0.3s;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  opacity: 0;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}

.gallery {
  display: grid;
  grid-gap: 1rem;
}

.gallery__img {
  width: 100%;

  object-fit: cover;
  display: block;
}

.gallery__item__1--1 {
  width: 50%;
}

.gallery__item__2--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item__2--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item__3--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item__3--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item__3--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item__4--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item__4--2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item__4--3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item__4--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item__5--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item__5--2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item__5--3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item__5--4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery__item__5--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
  }
  .gallery__item:not(:first-child) {
    display: none;
  }
  .gallery__item__1--1 {
    width: 100%;
  }
}

.show {
  display: block;
}
.remove {
  display: none;
}
.pos__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
input[type="date"],
select {
  background-color: white;
}

.ellipsis__p {
  white-space: pre-wrap;
  word-break: break-word;
}

.ellipsis__c {
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
